body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    margin-top: 10px;
}

#search-section {
    background-color: #f6f6f6
}

#search-for-city {
    font-weight: bold;
}

#search-input {
    width: 213px;
    float: left;
}

#search-btn {
    float: left;
}